<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <title>Vibez</title>
  <link rel="icon" href="/static/images/vibezlogo.png" type="image/png" sizes="16x16">

  <link rel="stylesheet" href="/static/css/main.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/color.css">
  <link rel="stylesheet" href="/static/css/responsive.css">

  {{ toastr.include_jquery() }}
  {{ toastr.include_toastr_css() }}
  {{ toastr.message() }}
</head>

<body>
  {{ toastr.include_toastr_js() }}
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">

    <div class="responsive-header">
      <div class="mh-head first Sticky">
        <span class="mh-btns-left">
          <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
          <a href="newsfeed.html" title=""><img src="/static/images/vibezlogo.png" alt=""></a>
        </span>
        <span class="mh-btns-right">
          <a class="fa fa-sliders" href="#shoppingbag"></a>
        </span>
      </div>
      <div class="mh-head second">
        <form class="mh-form">
          <input placeholder="search" />
          <a href="#/" class="fa fa-search"></a>
        </form>
      </div>
      
      
    </div><!-- responsive header -->
	
	<div class="topbar stick">
        <div class="logo">
          <a title="" href="/"><img src="/static/images/vibezlogo.png" alt=""
              style="height: 50px; width: 100px; padding-bottom: 8px; "></a>
        </div>
  
        <div class="top-area">
          
  
          <ul class="setting-area">
  
            <li><a href="newsfeed.html" title="Home"><i class="ti-home"></i></a></li>
            
   
            
          </ul>
          <div class="user-img">
            <img src="/static/images/resources/admin.jpg" alt="">
            <span class="status f-online"></span>
            <div class="user-setting">
              <a href="#" title=""><span class="status f-online"></span>online</a>
              <a href="#" title=""><span class="status f-away"></span>away</a>
              <a href="#" title=""><span class="status f-off"></span>offline</a>
              <a href="#" title=""><i class="ti-user"></i> view profile</a>
              <a href="#" title=""><i class="ti-pencil-alt"></i>edit profile</a>
              <a href="#" title=""><i class="ti-target"></i>activity log</a>
              <a href="#" title=""><i class="ti-settings"></i>account setting</a>
              <a href="#" title=""><i class="ti-power-off"></i>log out</a>
            </div>
          </div>
          
        </div>
      </div><!-- topbar -->	
		
	<section>
        {% set glob={} %}

        {% for key, value in foll.items() %}
            {% if key|lower == session.username|lower %}
                {% set _ = glob.update({'disabled':True}) %}
            {%endif%}
        {%endfor%}
        
		<div class="feature-photo">
			<figure><img src="/static/images/resources/timeline-1.jpg" alt=""></figure>
			<div class="add-btn">
				<span>{{foll|length}} followers</span>
                {% if items[0]|lower != session.username|lower %}
                    
                    {% if glob.disabled %}
                    <a href="/unfollow/{{items[0]}}" title="" data-ripple="">Unfollow</a>
                    
                    {%else%}
                    
                    <a href="/follow/{{items[0]}}" title="" data-ripple="">Follow</a>
                    {%endif%}
                {%endif%}
			</div>
			<form class="edit-phto">
				<i class="fa fa-camera-retro"></i>
				<label class="fileContainer">
					Edit Cover Photo
				<input type="file"/>
				</label>
			</form>
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img src="/static/images/resources/user-avatar.jpg" alt="">
								<form class="edit-phto">
									<i class="fa fa-camera-retro"></i>
									<label class="fileContainer">
										Edit Display Photo
										<input type="file"/>
									</label>
								</form>
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h5>{{items[3]}}</h5>
								  <span>{{items[0]}}</span>
								</li>
								<li>
									<a class="active" href="/profile/{{items[0]}}" title="" data-ripple="">time line</a>
                                    {% if items[0]|lower == session.username|lower %}
									<a class="" href="/createpost" title="" data-ripple="">Create Post</a>
                                    {%endif%}
									<a class="" href="/profile/{{items[0]}}/followers" title="" data-ripple="">Followers</a>
									<a class="" href="/profile/{{items[0]}}/followers" title="" data-ripple="">Following</a>
									<a class="" href="about.html" title="" data-ripple="">about</a>
									<a class="" href="#" title="" data-ripple="">more</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar /static">
									
									<div class="widget">
                                        <h4 class="widget-title">Shortcuts</h4>
                                        <ul class="naves">
                                          <li>
                                            <i class="ti-clipboard"></i>
                                            <a href="/" title="">News feed</a>
                                          </li>
                                          <li>
                                            <i class="ti-mouse-alt"></i>
                                            <a href="/profile/{{session.username}}" title="">Profile</a>
                                          </li>
                                          <li>
                                            <i class="ti-user"></i>
                                            <a href="timeline-friends.html" title="">Create Post</a>
                                          </li>
                                          <li>
                                            <i class="ti-comments-smiley"></i>
                                            <a href="messages.html" title="">My Following Post</a>
                                          </li>
                  
                                          <li>
                                            <i class="ti-power-off"></i>
                                            <a href="/logout" title="">Logout</a>
                                          </li>
                                        </ul>
                                      </div><!-- Shortcuts -->
									<!-- recent activites -->
									<!-- who's following -->
								</aside>
							</div><!-- sidebar -->
                            {% block body %}{% endblock %}
							<!-- centerl meta -->
							<div class="col-lg-3">
                                <aside class="sidebar /static">
                                  <!-- page like widget -->
                                  <div class="widget stick-widget">
                                    <h4 class="widget-title">Who's follownig</h4>
                                    <ul class="followers">
                                        {% for key, value in foll.items() %}
                                      <li>
                                          
                                        <figure><img src="//static/images/resources/friend-avatar2.jpg" alt=""></figure>
                                        <div class="friend-meta">
                                          <h4><a href="/profile/{{key}}" title="">{{value}}</a></h4>
                                            <!-- {%if session.username|lower!=key|lower%}
                                                <a href="/follow/{{key}}" title="" data-ripple="">Follow Back</a>
                                                {%else%}
                                                <a href="/unfollow/{{key}}" title="" data-ripple="">Unfollow</a>
                                                {%endif%} -->
                                        </div>
                                      </li>

                                      {%endfor%}
                                     
                                      
                                    </ul>
                                  </div>
                                  <!-- friends list sidebar -->
                                </aside>
                              </div><!-- sidebar -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
              
                  <footer>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-4 col-md-4">
                          <div class="widget">
                            <div class="foot-logo">
                              <div class="logo">
                                <a href="index-2.html" title=""><img src="/static/images/vibezlogo.png" alt=""
                                    style="height: 50px;"></a>
                              </div>
                              <p>
                                The trio took this simple idea and built it into the world’s leading carpooling platform.
                              </p>
                            </div>
                            <ul class="location">
                              <li>
                                <i class="ti-map-alt"></i>
                                <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
                              </li>
                              <li>
                                <i class="ti-mobile"></i>
                                <p>+1-56-346 345</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                          <div class="widget">
                            <div class="widget-title">
                              <h4>follow</h4>
                            </div>
                            <ul class="list-style">
                              <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/"
                                  title="">facebook</a></li>
                              <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a>
                              </li>
                              <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a>
                              </li>
                              <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover"
                                  title="">Google+</a></li>
                              <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                          <div class="widget">
                            <div class="widget-title">
                              <h4>Navigate</h4>
                            </div>
                            <ul class="list-style">
                              <li><a href="about.html" title="">about us</a></li>
                              <li><a href="contact.html" title="">contact us</a></li>
                              <li><a href="terms.html" title="">terms & Conditions</a></li>
                              <li><a href="#" title="">RSS syndication</a></li>
                              <li><a href="sitemap.html" title="">Sitemap</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                          <div class="widget">
                            <div class="widget-title">
                              <h4>useful links</h4>
                            </div>
                            <ul class="list-style">
                              <li><a href="#" title="">leasing</a></li>
                              <li><a href="#" title="">submit route</a></li>
                              <li><a href="#" title="">how does it work?</a></li>
                              <li><a href="#" title="">agent listings</a></li>
                              <li><a href="#" title="">view All</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                          <div class="widget">
                            <div class="widget-title">
                              <h4>download apps</h4>
                            </div>
                            <ul class="colla-apps">
                              <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
                              <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
                              <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </footer><!-- footer -->
                  <div class="bottombar">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
                          <i><img src="/static/images/credit-cards.png" alt=""></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="side-panel">
                  <h4 class="panel-title">General Setting</h4>
                  <form method="post">
                    <div class="setting-row">
                      <span>use night mode</span>
                      <input type="checkbox" id="nightmode1" />
                      <label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                      <span>Notifications</span>
                      <input type="checkbox" id="switch22" />
                      <label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                      <span>Notification sound</span>
                      <input type="checkbox" id="switch33" />
                      <label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                      <span>My profile</span>
                      <input type="checkbox" id="switch44" />
                      <label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                      <span>Show profile</span>
                      <input type="checkbox" id="switch55" />
                      <label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                  </form>
                  <h4 class="panel-title">Account Setting</h4>
                  <form method="post">
                    <div class="setting-row">
                      <span>Sub users</span>
                      <input type="checkbox" id="switch66" />
                      <label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                      <span>personal account</span>
                      <input type="checkbox" id="switch77" />
                      <label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                      <span>Business account</span>
                      <input type="checkbox" id="switch88" />
                      <label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                      <span>Show me online</span>
                      <input type="checkbox" id="switch99" />
                      <label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                      <span>Delete history</span>
                      <input type="checkbox" id="switch101" />
                      <label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                    <div class="setting-row">
                      <span>Expose author name</span>
                      <input type="checkbox" id="switch111" />
                      <label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
                    </div>
                  </form>
                </div><!-- side panel -->
              
                <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-/static/email-decode.min.js"></script>
                <script src="/static/js/main.min.js"></script>
                <script src="/static/js/script.js"></script>
                <script src="/static/js/map-init.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
              
              </body>
              
              </html>